<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{ '/assets/large.png' | relative_url }}" alt="Logo" style="vertical-align: middle; margin-right: 10px; height: 64x; width: 64px;"></a>
    <nav class="site-nav">
      <div class="trigger">
        {%- for page in site.pages -%}
          {%- if page.title and page.title != '关于我们' -%}
          <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
  </div>
</header>